@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <app-root></app-root>
</div>


@section StyleSheets {
    <environment include="Development">
        @{await Html.RenderPartialAsync("_AppStyleSheets");}
    </environment>
    <environment exclude="Development">
        @{await Html.RenderPartialAsync("_AppStyleSheetsProd");}
    </environment>
}

@section Scripts {
    <environment include="Development">
        @{await Html.RenderPartialAsync("_AppScripts");}
    </environment>
    <environment exclude="Development">
        @{await Html.RenderPartialAsync("_AppScriptsProd");}
    </environment>
}